.home {
}
.profile {
}
.search {
}
.settings {
}
.notifications {
}
.logout {
}
.delete {
}
.but {
    margin-bottom: 0.3em!important;
    height: 3em;
}

.links {
    padding-top: 100px;
    text-decoration: none!important;
}
#navbar {
    width: auto;
    height: auto;
    align-content: center;
    margin: auto;
    margin-left: 3em;
    margin-top: 1em!important;
    padding: inherit;
    margin-top: 2em;
}
