.App {
  text-align: center;
}

.App-logo {
<<<<<<< HEAD
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
=======
  height: 40vmin;
>>>>>>> 83939d226c584afcab11261c7abb7af550b03ad4
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
<<<<<<< HEAD
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
  color: #09d3ac;
>>>>>>> 83939d226c584afcab11261c7abb7af550b03ad4
}
